trunk/component/gforge-plugin-phpbb/doc/phpBB_DTD.xml

<?xml version="1.0" encoding="ISO-8859-1" ?>

<!-- Root element -->
<!ELEMENT PHPBB (REQUEST | RESPONSE)>



<!-- =============================REQUEST============================= -->

<!-- Request sent by NovaForge -->
<!ELEMENT REQUEST (CREATE_USER | CREATE_GROUP | CREATE_CATEGORY | RANAME_CATEGORY | 
                    APPLY_RULE_TO_GROUP |ADD_USER_TO_GROUP | GET_AVAILABLE_RULES | 
                    EXIST_USER |EXIST_CATEGORY |EXIST_GROUP | 
                    REMOVE_USER_TO_GROUP | GET_RULE | GET_SUB_CATEGORIES | DELETE_CATEGORY)? >


<!-- Create user request -->
<!ELEMENT CREATE_USER EMPTY>
<!ATTLIST CREATE_USER
	NAME CDATA #REQUIRED
	EMAIL CDATA #REQUIRED
        PASSWORD CDATA #REQUIRED
	LANGUAGE CDATA #REQUIRED
	TIMEZONE CDATA #REQUIRED   
>

<!-- Creat group request -->
<!ELEMENT CREATE_GROUP EMPTY>
<!ATTLIST CREATE_GROUP
	NAME CDATA #REQUIRED
>



<!-- Creat category request -->
<!ELEMENT CREATE_CATEGORY EMPTY>
<!ATTLIST CREATE_CATEGORY
	PARENT_ID CDATA #REQUIRED
	NAME CDATA #REQUIRED
>


<!-- Rename category request -->
<!ELEMENT RANAME_CATEGORY EMPTY>
<!ATTLIST RANAME_CATEGORY
	ID CDATA #REQUIRED
        NAME CDATA #REQUIRED
>


<!-- Apply rule to a group request -->
<!ELEMENT APPLY_RULE_TO_GROUP EMPTY>
<!ATTLIST APPLY_RULE_TO_GROUP
	GROUP_ID CDATA #REQUIRED
	RULE_NAME CDATA #REQUIRED
>

<!-- Add user to group request -->
<!ELEMENT ADD_USER_TO_GROUP EMPTY>
<!ATTLIST ADD_USER_TO_GROUP
	USER_NAME CDATA #REQUIRED
	GROUP_NAME CDATA #IMPLIED
        GROUP_ID CDATA #IMPLIED
>


<!-- Get available rules request -->
<!ELEMENT GET_AVAILABLE_RULES EMPTY>


<!-- exist user ? request -->
<!ELEMENT EXIST_USER EMPTY>
<!ATTLIST EXIST_USER
	NAME CDATA #REQUIRED
	EMAIL CDATA #IMPLIED
        EMAIL CDATA #IMPLIED
	LANGUAGE CDATA #IMPLIED
	TIMEZONE CDATA #IMPLIED
>


<!-- exist category ? request -->
<!ELEMENT EXIST_CATEGORY EMPTY>
<!ATTLIST EXIST_CATEGORY
	NAME CDATA #IMPLIED
	ID CDATA #IMPLIED
>


<!-- exist category ? request -->
<!ELEMENT EXIST_GROUP EMPTY>
<!ATTLIST EXIST_GROUP
	NAME CDATA #IMPLIED
	ID CDATA #IMPLIED
>


<!-- Deletes category-->
<!ELEMENT DELETE_CATEGORY EMPTY>
<!ATTLIST DELETE_CATEGORY
	ID CDATA #IMPLIED
>
 

<!-- Remove a user to a group -->
<!ELEMENT REMOVE_USER_TO_GROUP EMPTY>
<!ATTLIST REMOVE_USER_TO_GROUP
	GROUP_ID CDATA #IMPLIED
        USER_NAME CDATA #IMPLIED
>


<!-- Get a rule of a group regarding a category -->
<!ELEMENT GET_RULE EMPTY>
<!ATTLIST GET_RULE
	GROUP_ID CDATA #IMPLIED
        CATEGORY_ID CDATA #IMPLIED
>


<!-- Get sub-ctegories of a category -->
<!ELEMENT GET_SUB_CATEGORIES EMPTY>
<!ATTLIST GET_SUB_CATEGORIES 
	PARENT_ID CDATA #IMPLIED
>

<!-- Get sub-ctegories of a category -->
<!ELEMENT GET_BOOKMARKS EMPTY>
<!ATTLIST GET_BOOKMARKS 
	USER_NAME CDATA #IMPLIED
>


<!-- =============================RESPONSE============================= -->

<!-- Response sent by PHPBB -->
<!ELEMENT RESPONSE (USER | GROUP | CATEGORY | BOOKMARK* | RULE* )? >
<!ATTLIST RESPONSE
	STATUS (success | failure) #REQUIRED
	MESSAGE CDATA #IMPLIED
>

<!-- PHPBB user -->
<!ELEMENT USER EMPTY>
<!ATTLIST USER
	ID CDATA #REQUIRED
>
<!-- PHPBB group -->
<!ELEMENT GROUP EMPTY>
<!ATTLIST GROUP
	ID CDATA #REQUIRED
>
<!-- PHPBB category -->
<!ELEMENT CATEGORY EMPTY>
<!ATTLIST CATEGORY
	ID CDATA #REQUIRED
>
<!-- PHPBB rules -->
<!ELEMENT RULE EMPTY>
<!ATTLIST RULE
	VALUE CDATA #REQUIRED
        ID CDATA #REQUIRED
>

<!ELEMENT BOOKMARK EMPTY>
<!ATTLIST BOOKMARK
	MESSAGE CDATA #IMPLIED
        NAME CDATA #IMPLIED
        URL CDATA #IMPLIED
        LAST_URL CDATA #IMPLIED
        READ CDATA #IMPLIED
        DATE CDATA #IMPLIED
>

