gforge/www/soap/SoapAPI.wsdl

<?xml version="1.0"?>
<definitions 
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:s="http://www.w3.org/2001/XMLSchema" 
    xmlns:si="http://soapinterop.org/xsd" 
    xmlns:s0="http://gforge.org/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    targetNamespace="http://gforge.org/">
    <types xmlns:s="http://www.w3.org/2001/XMLSchema">
    <s:schema elementFormDefault="qualified" targetNamespace="http://gforge.org/">
    <s:complexType name="ArrayOfBug">
      	<s:complexContent>
	   	<s:restriction base="SOAP-ENC:Array">
                    <s:sequence>
                            <s:element minOccurs="0" maxOccurs="unbounded" name="bugs" type="s:Bug" />
                    </s:sequence>
	            <s:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="Bug[]"/>
	    	</s:restriction>
    	</s:complexContent>
    </s:complexType>
    <s:complexType name="ArrayOfstring">
      <s:complexContent>
      <s:restriction base="SOAP-ENC:Array">
    <s:sequence>
    <s:element minOccurs="0" maxOccurs="unbounded" name="params" type="s:string" /> 
    </s:sequence>
    </s:restriction>
    </s:complexContent>
    </s:complexType>>
    </s:schema>
    </types>

<message name="helloRequest">
	<part name="parm" type="xsd:string" />
</message>

<message name="helloResponse">
	<part name="parameters" type="xsd:string" />
</message>

<message name="userRequest">
	<part name="func" type="xsd:string" />
	<part name="params" type="s0:ArrayOfstring" />
</message>

<message name="userResponse">
	<part name="userResponse" type="s0:ArrayOfstring" />
</message>
    
<message name="login">
	<part name="userid" type="xsd:string" />
	<part name="passwd" type="xsd:string" />
</message>
<message name="loginResponse">
	<part name="sessionKey" type="xsd:string" />
</message>

<message name="logout">
	<part name="sessionkey" type="xsd:string" />
</message>
<message name="logoutResponse">
	<part name="statusCode" type="xsd:string" />
</message>
	
<message name="bugFetch">
        <part name="sessionkey" type="xsd:string" />
        <part name="project" type="xsd:string" />
        <part name="bugid" type="xsd:string" />
    </message>
    <message name="bugFetchResponse">
        <part name="bug" type="tns:Bug" />
    </message>

<message name="bugList">
        <part name="sessionkey" type="xsd:string" />
        <part name="project" type="xsd:string" />
    </message>
    <message name="bugListResponse">
        <part name="bug" type="tns:ArrayOfBug" />
    </message>

<message name="bugAdd">
        <part name="sessionkey" type="xsd:string" />
        <part name="project" type="xsd:string" />
        <part name="summary" type="xsd:string" />
        <part name="details" type="xsd:string" />
    </message>
    <message name="bugAddResponse">
        <part name="id" type="xsd:string" />
    </message>

<message name="bugUpdate">
        <part name="sessionkey" type="xsd:string" />
        <part name="project" type="xsd:string" />
        <part name="bugid" type="xsd:string" />
        <part name="comment" type="xsd:string" />
    </message>
    <message name="bugUpdateResponse">
        <part name="result" type="xsd:string" />
    </message>

<portType name="Service1PortType">

<operation name="hello">
	<input message="s0:helloRequest"/>
	<output message="s0:helloResponse"/>
</operation>

<operation name="user">
	<input message="s0:userRequest"/>
	<output message="s0:userResponse"/>
</operation>

<operation name="bugFetch">
	<input message="s0:bugFetchRequest"/>
	<output message="s0:bugFetchResponse"/>
</operation>

<operation name="bugList">
	<input message="s0:bugListRequest"/>
	<output message="s0:bugListResponse"/>
</operation>

<operation name="bugAdd">
	<input message="s0:bugAddRequest"/>
	<output message="s0:bugAddResponse"/>
</operation>
    
<operation name="bugUpdate">
	<input message="s0:bugUpdateRequest"/>
	<input message="s0:bugUpdateResponse"/>
</operation>

    </portType>
    <binding name="Service1Binding" type="s0:Service1PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="hello">
    <soap:operation soapAction="http://gforge.org/soap/SoapAPI.php" style="rpc"/>
    <input>
    <soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
    <soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
    </operation>
    <operation name="user">
    <soap:operation soapAction="http://gforge.org/soap/SoapAPI.php" style="rpc"/>
    <input>
    <soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
    <soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
    </operation>

    <operation name="bugFetch">
    <soap:operation soapAction="http://gforge.org/soap/SoapAPI.php" style="rpc"/>
    <input>
    <soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
    <soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
    </operation>
    
    <operation name="bugList">
    <soap:operation soapAction="http://gforge.org/soap/SoapAPI.php" style="rpc"/>
    <input>
    <soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
    <soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
    </operation>
    
    <operation name="bugAdd">
    <soap:operation soapAction="http://gforge.org/soap/SoapAPI.php" style="rpc"/>
    <input>
    <soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
    <soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
    </operation>
    
<operation name="bugUpdate">
    <soap:operation soapAction="http://gforge.org/soap/SoapAPI.php" style="rpc"/>
    <input>
    <soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
    <soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
    </operation>

<operation name="login">
	<soap:operation soapAction="http://gforge.org/soap/SoapAPI.php" style="rpc"/>
	<input>
		<soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
	</input>
	<output>
		<soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
	</output>
</operation>

<operation name="logout">
	<soap:operation soapAction="http://gforge.org/soap/SoapAPI.php" style="rpc"/>
	<input>
		<soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
	</input>
	<output>
		<soap:body use="encoded" namespace="http://gforge.org" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
	</output>
</operation>

	</binding>
	<service name="Service1">
		<port name="Service1Port" binding="s0:Service1Binding">
			<soap:address location="http://gforge.org/soap/SoapAPI.php"/>
		</port>
	</service>
</definitions>
