gforge/www/soap/SoapAPI.wsdl

<?xml version="1.0"?>
<definitions 
    xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" 
    xmlns:s="http://www.w3.org/2001/XMLSchema" 
    xmlns:si="http://soapinterop.org/xsd" 
    xmlns:s0="http://sourceforge.vestek.com/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    targetNamespace="http://sourceforge.vestek.com/">
    <types xmlns:s="http://www.w3.org/2001/XMLSchema">
    <s:schema elementFormDefault="qualified" targetNamespace="http://sourceforge.vestek.com/">
    <s:complexType name="ArrayOfstring">
      <s:complexContent>
      <s:restriction base="SOAP-ENC:Array">
    <s:sequence>
    <s:element minOccurs="0" maxOccurs="unbounded" name="params" type="s:string" /> 
    </s:sequence>
    </s:restriction>
    </s:complexContent>
    </s:complexType>>
    </s:schema>
    </types>
    <message name="helloRequest">
    <part name="parm" type="xsd:string" />
    </message>
    <message name="helloResponse">
    <part name="parameters" type="xsd:string" />
    </message>
    <message name="userRequest">
        <part name="func" type="xsd:string" />
        <part name="params" type="s0:ArrayOfstring" />
    </message>
    <message name="userResponse">
        <part name="userResponse" type="s0:ArrayOfstring" />
    </message>
    <portType name="Service1PortType">
    <operation name="hello">
    <input message="s0:helloRequest"/>
    <output message="s0:helloResponse"/>
    </operation>
    <operation name="user">
    <input message="s0:userRequest"/>
    <output message="s0:userResponse"/>
    </operation>
    </portType>
    <binding name="Service1Binding" type="s0:Service1PortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="hello">
    <soap:operation soapAction="http://sourceforge.vestek.com/soap/SoapAPI.php" style="rpc"/>
    <input>
    <soap:body use="encoded" namespace="http://sourceforge.vestek.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
    <soap:body use="encoded" namespace="http://sourceforge.vestek.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
    </operation>
    <operation name="user">
    <soap:operation soapAction="http://sourceforge.vestek.com/soap/SoapAPI.php" style="rpc"/>
    <input>
    <soap:body use="encoded" namespace="http://sourceforge.vestek.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </input>
    <output>
    <soap:body use="encoded" namespace="http://sourceforge.vestek.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
    </output>
    </operation>
    </binding>
    <service name="Service1">
    <port name="Service1Port" binding="s0:Service1Binding">
    <soap:address location="http://sourceforge.vestek.com/soap/SoapAPI.php"/>
    </port>
    </service>
</definitions>