gforge/contrib/soap/cpp/tns.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
/* tns
   Generated by gSOAP 2.3 rev 1 from SoapAPI.h
   Copyright (C) 2001-2003 Genivia inc.
   All Rights Reserved.
*/-->
 <schema targetNamespace="http://cougaar.org"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://cougaar.org"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">

  <element name="bugUpdateResponse" type="tns:bugUpdateResponse"/>
  <complexType name="bugUpdateResponse">
   <sequence>
    <element name="bugUpdateResponse" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <element name="userResponse" type="tns:userResponse"/>
  <complexType name="userResponse">
   <sequence>
    <element name="userResponse" type="tns:ArrayOfstring" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <element name="ArrayOfstring" type="tns:ArrayOfstring"/>
  <complexType name="ArrayOfstring">
   <sequence>
   </sequence>
  </complexType>

  <element name="bugFetchResponse" type="tns:bugFetchResponse"/>
  <complexType name="bugFetchResponse">
   <sequence>
    <element name="bugFetchResponse" type="tns:Bug" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <element name="logoutResponse" type="tns:logoutResponse"/>
  <complexType name="logoutResponse">
   <sequence>
    <element name="logoutResponse" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <element name="getPublicProjectNamesResponse" type="tns:getPublicProjectNamesResponse"/>
  <complexType name="getPublicProjectNamesResponse">
   <sequence>
    <element name="projectNames" type="tns:ArrayOfstring" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <element name="getSiteStatsResponse" type="tns:getSiteStatsResponse"/>
  <complexType name="getSiteStatsResponse">
   <sequence>
    <element name="siteStats" type="tns:ArrayOfSiteStatsDataPoint" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <element name="GroupObject" type="tns:GroupObject"/>
  <complexType name="GroupObject">
   <sequence>
    <element name="group_id" type="xsd:integer" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="group_name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="is_public" type="xsd:integer" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="status" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="unix_group_name" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="ArrayOfBug">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="tns:Bug" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
    </restriction>
   </complexContent>
  </complexType>

  <complexType name="ArrayOfGroupObject">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="tns:GroupObject" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
    </restriction>
   </complexContent>
  </complexType>

  <element name="getNumberOfActiveUsersResponse" type="tns:getNumberOfActiveUsersResponse"/>
  <complexType name="getNumberOfActiveUsersResponse">
   <sequence>
    <element name="activeUsers" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <element name="groupResponse" type="tns:groupResponse"/>
  <complexType name="groupResponse">
   <sequence>
    <element name="groupResponse" type="tns:ArrayOfGroupObject" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <element name="loginResponse" type="tns:loginResponse"/>
  <complexType name="loginResponse">
   <sequence>
    <element name="loginResponse" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <complexType name="ArrayOfSiteStatsDataPoint">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="tns:SiteStatsDataPoint" minOccurs="0" maxOccurs="unbounded"/>
     </sequence>
    </restriction>
   </complexContent>
  </complexType>

  <element name="bugListResponse" type="tns:bugListResponse"/>
  <complexType name="bugListResponse">
   <sequence>
    <element name="bugListResponse" type="tns:ArrayOfstring" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <element name="Bug" type="tns:Bug"/>
  <complexType name="Bug">
   <sequence>
    <element name="id" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="summary" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <element name="bugAddResponse" type="tns:bugAddResponse"/>
  <complexType name="bugAddResponse">
   <sequence>
    <element name="bugAddResponse" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <element name="helloResponse" type="tns:helloResponse"/>
  <complexType name="helloResponse">
   <sequence>
    <element name="helloResponse" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <element name="SiteStatsDataPoint" type="tns:SiteStatsDataPoint"/>
  <complexType name="SiteStatsDataPoint">
   <sequence>
    <element name="date" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="users" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="pageviews" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
    <element name="sessions" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

  <element name="getNumberOfHostedProjectsResponse" type="tns:getNumberOfHostedProjectsResponse"/>
  <complexType name="getNumberOfHostedProjectsResponse">
   <sequence>
    <element name="hostedProjects" type="xsd:string" minOccurs="1" maxOccurs="1" nillable="true"/>
   </sequence>
  </complexType>

 </schema>
