gforge/www/export/sf_bugs_0.1.dtd

<?xml encoding="UTF-8"?>

<!-- DTD generated by Data Descriptors By Example
	www.alphworks.ibm.com/tech/ddbe

	IBM MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY
	OF THE SOFTWARE, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
	TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
	PURPOSE, OR NON-INFRINGEMENT. IBM SHALL NOT BE LIABLE FOR ANY DAMAGES
	SUFFERED BY LICENSEE AS A RESULT OF USING OR MODIFYING THIS SOFTWARE
	OR ITS DERIVATIVES

	Comments within this dtd indicate possible attribute declarations.  Key:

		E ==>> values are each a single Nmtoken (ENUMERATION consistent),
		I ==>> ID possible,
		R(S) ==>> IDREF(S) possible,
		N(S) ==>> NMTOKEN possible,
		X(S) ==>> values match NAME(S),
		S implies plural declaration is required.

	Only the most constraining
	possibilities are mentioned.  
	Note: the declarations mentioned below may not be simulataneously consistent
		

	Command line arguments: -m -w E:\Apache\cgi-bin\perl\DDbE-974412396410\_\last  C:\WINDOWS\Desktop\sf_bugs.xml 


 -->
<!ELEMENT assigned_to EMPTY>
<!--
   assigned_to.id: E
   assigned_to.name: X
-->
<!ATTLIST assigned_to 
	id CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT bug (error,group_id,status_id,priority,category_id,submitted_by,assigned_to,date,summary,details,close_date,bug_group_id,resolution_id,dependency+,history+,task_dependency+)>
<!--
   bug.id: E
-->
<!ATTLIST bug 
	id CDATA #IMPLIED
>
<!ELEMENT bug_group_id (#PCDATA)>
<!ELEMENT bugs (bug+)>
<!ELEMENT category_id (#PCDATA)>
<!ELEMENT close_date (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT dep_id (#PCDATA)>
<!ELEMENT dep_on_task_id (#PCDATA)>
<!ELEMENT dependency (dep_id)>
<!ELEMENT error (#PCDATA)>
<!--
   dependency.id: E
-->
<!ATTLIST dependency 
	id CDATA #IMPLIED
>
<!ELEMENT details (#PCDATA)>
<!ELEMENT field_name (#PCDATA)>
<!ELEMENT group_id (#PCDATA)>
<!ELEMENT history (field_name,old_value,mod_by,date)>
<!--
   history.id: E
-->
<!ATTLIST history 
	id CDATA #IMPLIED
>
<!ELEMENT mod_by (#PCDATA)>
<!ELEMENT old_value (#PCDATA)>
<!ELEMENT priority (#PCDATA)>
<!ELEMENT resolution_id (#PCDATA)>
<!ELEMENT status_id (#PCDATA)>
<!ELEMENT submitted_by EMPTY>
<!--
   submitted_by.id: E
   submitted_by.name: X
-->
<!ATTLIST submitted_by 
	id CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT summary (#PCDATA)>
<!ELEMENT task_dependency (dep_on_task_id)>
<!--
   task_dependency.id: E
-->
<!ATTLIST task_dependency 
	id CDATA #IMPLIED
>
