gforge/www/export/sf_patches_0.1.dtd

<?xml encoding="UTF-8"?>

<!-- DTD generated by Data Descriptors By Example
	www.alphworks.ibm.com/tech/ddbe

	IBM MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY
	OF THE SOFTWARE, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
	TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
	PURPOSE, OR NON-INFRINGEMENT. IBM SHALL NOT BE LIABLE FOR ANY DAMAGES
	SUFFERED BY LICENSEE AS A RESULT OF USING OR MODIFYING THIS SOFTWARE
	OR ITS DERIVATIVES

	Comments within this dtd indicate possible attribute declarations.  Key:

		E ==>> values are each a single Nmtoken (ENUMERATION consistent),
		I ==>> ID possible,
		R(S) ==>> IDREF(S) possible,
		N(S) ==>> NMTOKEN possible,
		X(S) ==>> values match NAME(S),
		S implies plural declaration is required.

	Only the most constraining
	possibilities are mentioned.  
	Note: the declarations mentioned below may not be simulataneously consistent
		

	Command line arguments: -m -w E:\Apache\cgi-bin\perl\DDbE-974760573350\_\last  C:\WINDOWS\Desktop\sf_patches.xml 


 -->
<!ELEMENT assigned_to EMPTY>
<!--
-->
<!ATTLIST assigned_to 
	id CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT category_id (#PCDATA)>
<!ELEMENT close_date (#PCDATA)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT date (#PCDATA)>
<!ELEMENT error (#PCDATA)>
<!ELEMENT field_name (#PCDATA)>
<!ELEMENT group_id (#PCDATA)>
<!ELEMENT history (field_name,old_value,mod_by,date)>
<!--
   history.id: E
-->
<!ATTLIST history 
	id CDATA #IMPLIED
>
<!ELEMENT mod_by (#PCDATA)>
<!ELEMENT old_value (#PCDATA)>
<!ELEMENT open_date (#PCDATA)>
<!ELEMENT patch (group_id,status_id,category_id,submitted_by,assigned_to,open_date,summary,code,close_date,history+)>
<!--
   patch.id: E
-->
<!ATTLIST patch 
	id CDATA #IMPLIED
>
<!ELEMENT patches (error,patch)>
<!ELEMENT status_id (#PCDATA)>
<!ELEMENT submitted_by EMPTY>
<!--
-->
<!ATTLIST submitted_by 
	id CDATA #IMPLIED
	name CDATA #IMPLIED
>
<!ELEMENT summary (#PCDATA)>
